.div0{
    text-align: right;
}
nav > ul > li{
    display: inline;
    margin-right: 40px;
}
nav li > a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
nav li:hover{
    background-color: lightgray;
    border: 10px solid black;
    border-radius: 10px;
}
h2{
    text-align: center;
}
.s0{
    border: 2px solid skyblue;
    border-radius: 5px;
}
#div1{
   color: black;
   text-align:center;
   background-color: white;
   border: 16px solid rgb(250, 58, 176);
   border-radius: 50px;
   margin-bottom: 30px;
   padding: 20px;
   box-shadow: 10px 10px 70px pink;
   /* width: 50%; */
}
#h20{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aqua;
}
.eq2{
    color: darkblue;
}
#hi{
    color: rgb(62, 2, 164);
    text-align: center;
}
#div2{
    color: black;
    text-align:center;
    /* background-color: white; */
    border: 16px solid rgb(250, 58, 176);
    border-radius: 50px;
    margin: 10px 400px 10px;
    padding: 20px;
}
#div3{
    text-align: center;
}
iframe{
        border: 10px solid pink;
        border-radius: 60px;
        box-shadow: 10px 10px 90px;
    }
p{
    color: rgba(0, 0, 0, 0.549);
}
.s1{
    color:rgb(0, 200, 255);
}
#s2{
    color: rgb(255, 192, 230);
    font-size: 20px;
}
h6{
    text-align: center;
    color: rgba(0, 0, 0, 0.688);
    font-size: 16px;
    text-decoration: overline;
}
img{
    border: 10px solid pink;
    border-radius: 50px;
    box-shadow: 10px 10px 70px;
}
input[type="email"]{
    border-color: blue;
    border-width: 10px;
    border-radius: 25px;
    font-size: 17px;
}
input[type="submit"]{
    border-color: blue;
    border-width: 10px;
    border-radius: 25px;
}
input[type="password"]{
    color: black;
    border-color: blue;
    border-width: 10px;
    border-radius: 25px;
    font-size: 17px;
}
input[type="text"]{
    border-color: blue;
    border-width: 10px;
    border-radius: 25px;
    font-size: 17px;
}
iframe{
    margin-right: 50px;
}
#parent{
    padding: 25px;
    background-color: black;
    display: flex;
    gap: 30px;
}
.child{
    padding: 20px;
}
#imp head 1{
    text-align: center;
}